html{

}

body{
	margin: 0;
	color: #ffffff;
	font-family: 'Libre Franklin', sans-serif;
	font-size: 16px;
	background-color: #252932;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 700;
}

h1{
	font-size: 64px;
}

a{
	color: #2b6ddd;
}

a:hover{
	color: #17d075;
}

p{
	font-weight: 400;
}